<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%green(%date) %blue([%X{traceId}]) %highlight(%level) %boldMagenta([%thread]) %cyan([%C{10}]) : %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>


    <!-- 引入项目核心配置 -->
    <include resource="logback-base.xml"/>
    <logger name="io.jaegertracing.internal.reporters.LoggingReporter" level="OFF"/>
</configuration>
