<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

    <!-- console 字体 配置 -->
    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter"/>
    <conversionRule conversionWord="wex" converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter"/>
    <conversionRule conversionWord="wEx"
                    converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter"/>
    <property name="CONSOLE_LOG_PATTERN"
              value="${CONSOLE_LOG_PATTERN:-%clr(%date){faint} %clr(%level) %clr([%t{30}]){magenta} %clr(%c{10}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}"/>

    <!-- console 配置 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- 需要特别屏蔽的日志,例如kafka频繁的debug信息 -->
    <logger name="org.apache.kafka" level="INFO"/>


    <!-- 引入项目核心配置 -->
    <include resource="logback-base.xml"/>

</configuration>
