<included>
    <property name="FILE_PATTERN" value="%date [%X{traceId}] %level [%thread] [%c] : %msg%n"/>
    <springProperty scope="context" name="PROJECT_NAME" source="app.id" defaultValue="gatewayserver"/>
    <springProperty scope="context" name="OS" source="os.name" defaultValue="linux"/>


    <if condition='property("OS").contains("Mac OS")'>
        <then>
            <property scope="context" name="LOG_BASE" value="/opt/data/log"/>
        </then>
        <else>
            <property scope="context" name="LOG_BASE" value="/data/log"/>
        </else>
    </if>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_BASE}/${PROJECT_NAME}/service.log</file>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>${FILE_PATTERN}</pattern>
        </layout>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>/data/log/${PROJECT_NAME}/history/service-%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <MaxHistory>200</MaxHistory>
            <maxFileSize>100MB</maxFileSize>
            <totalSizeCap>500MB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="ERROR_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_BASE}/${PROJECT_NAME}/service-error.log</file>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>${FILE_PATTERN}</pattern>
        </layout>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>error</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>/data/log/${PROJECT_NAME}/history/service-error-%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <MaxHistory>200</MaxHistory>
            <maxFileSize>50MB</maxFileSize>
            <totalSizeCap>100MB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="RESPONSE_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_BASE}/${PROJECT_NAME}/response.log</file>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>${FILE_PATTERN}</pattern>
        </layout>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>/data/log/${PROJECT_NAME}/history/response-%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <MaxHistory>7</MaxHistory>
            <maxFileSize>200MB</maxFileSize>
            <totalSizeCap>500MB</totalSizeCap>
        </rollingPolicy>
    </appender>


    <appender name="ASYNC_FILE" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>512</queueSize>
        <appender-ref ref="FILE"/>
    </appender>

    <appender name="ASYNC_ERROR_FILE" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>512</queueSize>
        <appender-ref ref="ERROR_FILE"/>
    </appender>

    <shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook"/>

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <logger name="com.aha.tech.core.service.impl.HttpModifyResponseServiceImpl" additivty="false" level="WARN">
        <appender-ref ref="RESPONSE_FILE"></appender-ref>
    </logger>

    <root level="${logging.level.root}">
        <appender-ref ref="FILE"/>
        <appender-ref ref="ERROR_FILE"/>
        <appender-ref ref="CONSOLE"/>
    </root>

</included>
